
@import url('https://fonts.google.com/specimen/Raleway?selection.family=Raleway:400,400i,700');

* {
    width: 0 auto;
    margin: 0 auto;
    padding: 0 auto;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/playing.gif);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    font-size: large;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
    
}



.navbar {
 /* position: fixed;
 width: 100%;
 background: blueviolet;
 text-align: center; */
 background: blueviolet; 
 color: white;
 top: 0;
}

.nav-navigation {
    display: flex;
    /* align-items: center; */
    height: 100%;
    margin: 46.30rem;
    margin-top: 0px;
    
}

.logo  {
    color: rgb(236, 127, 48);
    text-decoration: none;
    font-size: 2rem;
    
}

.space {
    flex: 1;
}

.nav-navigation-list {
    text-decoration: none;
    
}

.nav-navigation-list {
    color: white;
    text-decoration: none;
    

}

.nav-navigation-list ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-navigation-list li {
    padding: 0 0.5rem;
}


.nav-navigation-list a:hover, 
.nav-navigation-list a:active {
    color: rgb(0, 174, 255);
}




/*NEW ONE THAT IS ON THE WEB RIGHTNOW*/

@import url('https://fonts.google.com/specimen/Raleway?selection.family=Raleway:400,400i,700');

* {
    width: 0 auto;
    margin: 0 auto;
    padding: 0 auto;
}

body{
    margin-top: 100px;
   
}



.navbar {
 position: fixed;
 width: 100%;
 background: blueviolet;
 text-align: center;
 color: white;
 top: 0;
}

.nav-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem;
}

.logo  {
    color: rgb(236, 127, 48);
    text-decoration: none;
    font-size: 2rem;
    
}

.space {
    flex: 1;
}

.nav-navigation-list {
    text-decoration: none;
    
}

.nav-navigation-list {
    color: white;
    text-decoration: none;
    

}

.nav-navigation-list ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-navigation-list li {
    position: relative;
    padding: 0 2.2rem;
    right: 200px;
}


.nav-navigation-list a:hover, 
.nav-navigation-list a:active {
    color: rgb(0, 174, 255);
}